* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.header {
  text-align: center;
  margin-top: 10px;
}

nav ul{ 
  height: 300px;
  width: 20%;
}

nav ul { 
  overflow:hidden; 
  overflow-y:scroll;
}

li {
  padding: 10px 5px;
}

.loader {
  display: inline-block;
  padding: 20px 3px;
}