<div class="container">
  <header>
    <img src="/assets/icons/menu.png" alt="Menu Icon">
    <h1 class="title">Messages</h1>
  </header>

  <section class="message-container" {{on "scroll" this.handleScrollEvent}}>
    <section {{on "click" this.deleteMessage}}>
      {{#each this.messageList as | message | }}
        <Message @message={{message}}/>
      {{/each}}
    </section>

    {{#if this.isLoading}}
      <footer>
        <span class="loader"></span>
      </footer>
    {{/if}}
  </section>
</div>




